.editing {
    display: inline-block;
    height: 100%;
    width: auto;
    vertical-align: middle;
    opacity: 1.0;
}

.closed {
    height: 1.0em;
    width: auto;
    opacity: 0.7;
    margin: 0;
}
